*, html, body {
    box-sizing: border-box;
}

ul,li {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
}


/*------------HEADER-------------------------------------*/

body {
    max-width: 100%;
    background: #FFE4C4;
    padding: 0px 5px;
}
.header {
    margin-top: 100px;
    margin-bottom: 5px;
}
.header-block {
    max-width: 600px;
    margin: 0 auto;
    background: #D2691E;
    border-radius: 10px;
}
.header-block__sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.title {
    margin-bottom: 10px;
}

.personal {
    display: flex;
    justify-content: center;
}

.personal-input{
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px 0px 0px 10px;
}
.personal-btn {
    border: none;
    background-color: aliceblue;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
/*------------------MAIN-------------------------------------*/

.main-block {
    padding: 10px 30px;
    max-width: 600px;
    margin: 0 auto;
    background: #BC8F8F;
    min-height: 70px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
}

.main-block--list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 47px;
}

.main-block--list-link{
    display: flex;
    align-items: center;
}

.main-block--text{
    margin-left: 10px;
}

.checkbox-active{
    width: 20px;
    height: 17px;
}

.main-block--text{
    transform: translateY(1px);
}

.main-button {
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around
}

.main-button button {
    border: none;
    cursor: pointer;
}

.main-container {
    background: rgba(183, 231, 62, 0.699);
    border-radius: 20px;
    margin: 15px;
}

.main-container--list{
    background-color: #20B2AA;
    border-radius: 10px;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main-list--link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #008080;
}

.main-link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.main-container--list-link {
    padding: 10px;
    display: flex;
    align-items: center;
}
.main-checked{
    width: 20px;
    height: 16px;
    cursor: pointer;
}
.main-text{
    display: inline-block;
    transform: translateY(1px);
}

.main-list--none {
    display: none;
}

.pagination {
    display: flex;
    column-gap: 5px;
}

.pagination__item {
    border: none;
    cursor: pointer;
}

.pagination__item--active {
    background-color: #000;
    color: #fff;
}

.page-pagination-none {
    display: none;
}

.main--list-btn{
    min-width: 20px;
    max-width: 23px;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
    border: none;
    background: #B22222;
}

.list-empty__text {
    font-size: 24px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    color: #000;
}

.main-btn--active {
    background-color: #000;
    color: #fff;
}

/*--------------*/
.main-text--done{
    text-decoration: line-through;
    opacity: 0.5;
}
/*--------------*/
.main-input{
  width: 20px;
  height: 17px;
}
/*------------------FOOTER--------------------------------------------------*/

.footer-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 600px;
    margin: 0 auto;
    background: #008080;
    height: 100px;
    border-radius: 10px;
}
.footer-btn {
    padding: 10px;
}

.footer-btn button {
    background-color: #B22222;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}
